<!doctype html>
        <html>
        <head>
            <title>Games</title>
            <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        </head>
        <body>
            <button>
                <img src=""><h1>Fan review</h1>
            </button>
            {% for i in game}
                <button> 
                    <img src={{i['image']}}>
                    <div>
                        <h4> {{i['name']}}</h4>
                    </div>
                    <div>
                        <p>{{i['rating']}}/10</p>>
                    </div>
                </button>
            {% endfor%}
            </p>
        </body>
        </html>