<!doctype html>
    <html>
        <head>
            <title>{{title}}</title>
            <style>
                p{
                    size: 0.3em;
                }
                a{
                    text-decoration: none;
                    color: black;
                }
            </style>
        </head>
        <body>
            {% include 'header.html' %}
            <div class="border-bottom" sytle="margin-bottom: 16px;">
                <a href="#"></a>
                {% for g in games %}
                    <a href="{{ url_for('show_game', id=g['id']) }}">
                        <h3> {{g['name']}}</h3>
                         <h4>Summary</h4>
                        <p>{{g['summary']}}</p>
                    </a>
                    
                {% endfor%}
            </div>
        </body>
    </html>