<!doctype html>
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=100">
            
            <title>Moives</title>
        </head>
        <body>
            {% include 'header.html' %}
            <div class="border-bottom" sytle="margin-bottom: 16px;">
                <a href="#"></a>
                {% for g in game} 
                    <h3> {{g['name']}}</h4>
                    {% if 'rating' in g %}
                    <div>
                        <p>{{g['rating']}}/10</p>>
                    </div>
                    {% endif %}
                     <h6>Summary</h6>
                    <p>{{g['summary']}}</p>>
                {% endfor%}
            </div>
        </body>
    </html>