<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <form action="/register" method="post">
            <label>Frist Name</label><br>
            <input type="text" name="frist_name"><br>

            <label>Email</label><br>
            <input type="text" name="email"><br>

            <label>Last Name</label><br>
            <input type="text" name="last_name"><br>

            <label>Username</label><br>
            <input type="text" name="username"><br>

            <label>Pasword</label><br>
            <input type="text" name="password"><br>

            <label>Confrim Pasword</label><br>
            <input type="text" name="con_password"><br>

            <input type="submit">
        </form>
    </body>
</html>